# Created by SALSA version 1.13.0 -- Backward compatible to 1.1.0
--niter 15
--conv 1.0e-5
--alpha 0.05
--APV
--geoidfile egm2008_2.5m.und
--westLon
--confid 95
--linprecP 4
--linprecM 5
--angprecP 5
--angprecM 1
--includeUnused

