# Created by SALSA version [$SALSA_VERSION$]
--niter 15
--conv 1.0e-5
--APV
--alpha 0.05
--geoidfile egm2008_2.5m.und
--confid 95
--linprecP 4
--linprecM 5
--angprecP 5
--angprecM 1
--westLon
--includeUnused
--customExportCopy %SALSA_PROJECT_DIR%/scripts/reporting/extras/h5XLSM.py
--customExportCopy %SALSA_PROJECT_DIR%/scripts/reporting/extras/GSDI_v2.20.xlsm
--customExportCopy %SALSA_PROJECT_DIR%/scripts/reporting/lsaversion.py
--customExportCopy %SALSA_PROJECT_DIR%/scripts/reporting/extras/h5Sinex.py
